*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
html,
body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #000;
  background-color: #fff;
  padding-bottom: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}
p {
  margin: 0;
}
.header {
  background-color: #eee;
}
.header__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 10px;
}
.header__content-title {
  font-size: 1.33rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.header__content-text {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}
.container {
  max-width: 479px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.product__inner {
  padding: 20px 0;
}
.product__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.product__rating-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}
.product__rating-bar {
  display: flex;
  align-items: center;
}
.product__rating-stars {
  display: flex;
  margin-right: 10px;
}
.product__rating-star {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}
.product__rating-star:last-child {
  margin-right: 0;
}
.product__rating-star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__rating-reviews {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}
.product__name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.product__description-title {
  font-weight: 700;
  font-size: 0.8rem;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 26px;
}
.slider__nav {
  max-width: 20%;
  width: 100%;
  height: 100%;
}
.slider__nav-prev {
  width: 12px;
  height: 12px;
  margin: 0 auto;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 1px;
  transform: rotate(-45deg);
}
.slider__nav-next {
  width: 12px;
  height: 12px;
  margin: 0 auto;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 1px;
  transform: rotate(135deg);
}
.slider__nav ul {
  margin: 6px auto;
}
.slider__nav ul li {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 1px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.slider__nav ul li:last-child {
  margin-bottom: 0;
}
.slider__nav-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__view {
  max-width: 70%;
  width: 100%;
}
.slider__view-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
